.search_win{

	display:none;

}



.no_post{

	text-align:center;

}



.topics_pager_nav{

	margin-bottom:2em !important;

}



main.topics_contents img{

	height:auto !important;

}