body{
    background-color:#99CC99;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
}

p{
    text-align:center ;
}

form{
    text-align:center ;
    size: 50px;

}

.box-size{
    margin:10px;
}

.box-size2{
    transform: scale(2);
    margin:10px;
}

.box-width{
    width:100px;
    margin-bottom:30px;
    transform: scale(4.3);

}

.box-content{
    width:200px;
    margin-top:20px;
}


.mail{
    margin-top:10px;
}